services:
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./certbot/conf:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot:ro
    depends_on:
      - marzban
    networks:
      - proxy-network

  marzban:
    image: gozargah/marzban:latest
    container_name: marzban
    restart: always
    env_file:
      - .env
    volumes:
      - ./marzban-data:/var/lib/marzban
      - ./certbot/conf:/etc/letsencrypt:ro
    ports:
      - "8080:8080"
      - "8443:8443/udp"
    networks:
      - proxy-network

networks:
  proxy-network:
    driver: bridge
